body {
	
}
header {
	height: 60px;
}
footer {
	height: 60ox;
	margin-top:30px;
	padding-top: 10px;
	border-top: 1px solid #eee;
}

.clear {
	clear: both;
}

#wrap {
	min-height: 600px;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
  	margin: 0 auto 20px;
  	background-color: #fff;
  	border: 1px solid #e5e5e5;
  	-webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
 	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  	font-size: 16px;
  	height: auto;
  	margin-bottom: 15px;
  	padding: 7px 9px;
}

.message {
	padding: 8px 35px 8px 14px;
  	margin-bottom: 20px;
  	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  	color : #fff;
  	background-color: #4FC1E9;
  	border: 1px solid #fbeed5;
 	 -webkit-border-radius: 4px;
    	-moz-border-radius: 4px;
             border-radius: 4px;
}

/* Form errors */
form .error {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	font-weight: normal;
}

form .error-message {
	-moz-border-radius: none;
	-webkit-border-radius: none;
	border-radius: none;
	border: none;
	background: none;
	margin: 0;
	padding-left: 4px;
	padding-right: 0;
	margin-top: -1px;
	
}

form .error, form .error-message {
	color: #9E2424;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	text-shadow: none;
}


.message h4 {
	color: #c09853;
	margin: 0;
}

.cake-error, p.error, .error-message {
	color: #E9573F;
	border-color: #eed3d7;	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);	
}

.success {
	color: #468847;
	background-color: #dff0d8;
  	border-color: #d6e9c6;
}

.success h4 {
  	color: #468847;
}


p.error {
	color: #E9573F;
 	background-color: #f2dede;
  	border-color: #eed3d7;	
}
